// -----------------------------------
// _style.scss
// -----------------------------------

.article-container {

  // Reset
  // -----
  a { color: $link-color; }
  img { max-width: 100%; }

  // Layouts
  // -----
  background: $bg-color;
  padding: $margin-half;

  // Typography
  // ------
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $body-color;
  h1 { font-size: $font-size-h1; letter-spacing: .2rem; font-weight: 600; }
  h2 { font-size: $font-size-h2; }
  h3 { font-size: $font-size-h3; }
  h4 { font-size: $font-size-h4; }
  h5 { font-size: $font-size-h5; }

  // Component
  // -----
  .text-center { text-align: center; }
  .button {
    display: inline-block;
    position: relative;
    background-color: #e4017f;
    color: #fff;
    padding: $margin-quarter / 2 $margin-base;
    text-decoration: none;
    font-size: .9rem;
    @include border-radius(4px);
    &.button-wide { padding: $margin-quarter / 2 $margin-base * 1.5; }
  }

  // Main Visual
  // -----
  .article-mv {
    width: 100%;
    height: 100vh;
    @media screen and (max-width: 414px) { max-height: 240px; }
    @media screen and (min-width: 415px) { max-height: 420px; }
    margin-bottom: $margin-half;
    position: relative;
    //@include background(linear-gradient(180deg, rgba(0,0,0,.5), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,.5)),url(../images/tmp/mv-sample.jpg) center center / cover no-repeat);
    h1 {
      margin: 0;
      position: absolute;
      bottom: $margin-half;
      left: $margin-half;
      right: $margin-half;
      color: #fff;
    }
    .column-number {
      color: #fff;
      padding: $margin-half;
      padding-left: $margin-base * 1.4;
      background: url(../images/icn-column.png) no-repeat center left $margin-half;
    }
  }

  // Article Content
  // -----
  .article-content {
    line-height: $base-line-height;
    > * + * { margin-top: $margin-half; }
  }

  // Eyecatch
  // -----
  .article-eyecatch {
    text-align: center;
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  // Gallery
  // -----
  .article-gallery {
    .item {
      width: 230px;
      margin-right: $margin-half;
      outline: 0;
      position: relative;
      .copy {
        position: absolute;
        bottom: 0;
        color: #fff;
        padding: $margin-quarter;
        padding-top: $margin-half;
        font-size: .85rem;
        line-height: 1.2;
        @include background(linear-gradient(180deg, rgba(0,0,0,0),rgba(0,0,0,.4)));
      }
    }
  }

  // Credit
  // -----
  .article-credit {
    padding: $margin-quarter $margin-half;
    border: 1px solid #eee;
    font-size: .8rem;
    h3 { font-size: .88rem; margin-bottom: $margin-quarter; }
    ul {
      padding: 0;
      li {
        list-style: none;
        padding-left: .8rem;
        &:before { content: "※"; margin-left: -.8rem; }
      }
    }
  }

}


