---
title: ふたりらしさを大切にしたテーマの決め方
page_id: 112
number: 1
slug: dress
---
p 結婚式のテーマを決めるときに最も大切なのは何でしょうか？　それはふたりらしさです。ふたりの結婚式なのだから、ふたりらしさがなかったら、ゲストはきっと寂しく思うし、退屈してしまうはず。ここでは、ふたりらしいテーマを作る方法をお教えします。
h2 結婚式でゲストに伝えたいことからテーマを決める
.article-eyecatch
  = image_tag 'pht-112_01.jpg'
  / 183964009
p まずは結婚式でゲストに何を伝えたいか、考えてみてください。ゲストの顔を一人一人思い浮かべ、その人との関わりや思い出を振り返ってみるといいでしょう。例えば、周りの人たちの支えがあって結婚に至ったふたりなら「ゲストへの感謝」がテーマになるかもしれませんし、いままで周りの人たちに心配を掛けてきたというふたりなら「新生活への決意」がテーマになるかもしれませんね。
h2 ふたりの趣味、好きなもの、思い出からコンセプトを決める
.article-eyecatch
  = image_tag 'pht-112_02.jpg'
  / 548555259
p ふたりを表現し、ゲストにふたりのことをもっとよく知ってもらうのも、結婚式の役割の一つ。そのためには、ふたりの趣味や好きなもの、思い出などをテーマにするのもいいでしょう。共通の趣味、ふたりのお気に入りのもの、交際期間中の思い出などからテーマを導き出してみては？　例えば､ワイン好きで意気投合したふたりなら「ブドウ」をテーマに、一緒に見た星空が結婚のきっかけになったというふたりなら「星」をテーマにするという具合です。
h2 結婚式の雰囲気からコンセプトを決める
.article-eyecatch
  = image_tag 'pht-112_03.jpg'
  / 76537784
p また、どんな雰囲気の結婚式にしたいか、ゲストにどんな気持ちになってほしいか、というところから、テーマを導き出してもいいと思います。共通の友人が多く、気取らない雰囲気での結婚式をと考えるなら「同窓会」をテーマに、お世話になった方々をしっかりおもてなしし、気持ち良く過ごしてほしいと考えるのなら「カンフォート（心地よさ）」をテーマにしてみるというのはどうでしょう？
p いずれにせよ、大切なのは「ふたりらしさ」です。ゲストに喜んでもらえる結婚式になるよう、ふたりでじっくり話し合って結婚式のテーマを決めてくださいね。
