---
title: テーマから素敵な結婚式を作り出す例をcheck！
page_id: 113
number: 1
slug: ceremony
---
/11811102
p 「素敵な結婚式にするにはテーマが大切」といわれても、いまひとつピンと来ないという人も多いことでしょう。ここでは、テーマからどうやって結婚式を計画していくのか、そのプロセスをご紹介します。
h2 「映画」を結婚式のテーマにするなら……
.article-eyecatch
  = image_tag 'pht-113_01.jpg'
  / 498555976
p 映画好きということで意気投合し、2年の交際を経て結婚することになったふたりを例に取ってみましょう。結婚式のテーマはふたりの共通の趣味であり、交際のきっかけとなった「映画」に決定しました。
p 「映画」というテーマを表現するために、ふたりは結婚式を映画上映会に見立てました。披露宴会場を映画館に見立て、ふたりは映画館のオーナー、ゲストは上映会に招かれたお客さまと設定します。そして、上映＝ゲストに披露するのはふたりのいままでの歩みとしました。
h2 テーマに合わせた装飾や演出を考えて
.article-eyecatch
  = image_tag 'pht-113_02.jpg'
  / 184396792
p 結婚式を映画上映会と見立てたので、招待状はチケット風に。ふたりのプロフィールは映画のパンフレットのように作っても楽しいでしょう。ウエルカムスペースではポップコーンマシーンやジューススタンドを用意して、映画館の雰囲気に。
p 披露宴のオープニングは映画の予告編を模した映像を流して。プロフィール映像も短編映画のように作ります。また、料理はふたりの好きな映画をモチーフにして作ってもらうのも楽しいでしょう。ふたりのお色直し衣裳は、好きな映画のヒーロー・ヒロインにちなんだものでも。
p このように、一つのテーマを基に結婚式を作り上げることで、ふたりとも映画が好きで、それをきっかけに心を通い合わせていったことがゲストにも伝わりますし、テーマがあることでより個性的でワクワクとした内容になり、ゲストも大いに楽しめる結婚式になるのです。
p さあ、素敵な結婚式を作り上げるために、まずは結婚式のテーマ決めから始めましょう！

