---
title: 結婚式を成功させるためにはテーマが必要
page_id: 111
number: 1
slug: ceremony
---

p 結婚式会場が決まって、「さあ、結婚式の準備を始めよう！」とさぞ意気込んでいることでしょう。衣裳は？　料理は？　装花は？　演出は？　いえいえ、ちょっと待って。細かなことを具体的に決めるのはもう少し後で大丈夫。まずふたりで考えてほしいのは「結婚式のテーマ」なんです。
h2 テーマを決めると、ふたりの気持ちが伝わる
.article-eyecatch
  = image_tag 'pht-111_01.jpg'
  / 576798511
p 結婚式のテーマというとなんだか堅苦しい感じがしますが、つまりは、結婚式でふたりがゲストに伝えたいこと、結婚式でふたりが表現したいことです。テーマを確定し、それに添ってアイテムや演出、プログラムなどを決めることで、ふたりの気持ちが伝わり、ゲストにも「素敵な式だったね」と喜んでもらえる結婚式になるのです。
p 例えば、テーマを決めずに、その場のノリや気分で結婚式を計画していったとしましょう。料理は和洋折衷、装飾は大好きなバラをふんだんに使ってロココ調に、ペーパーアイテムにはふたりの好きなキャラクターをあしらい、趣味で習っている日本舞踊を披露して……、なんてことになると、いろいろなものが溢れ過ぎていて参加する方も疲れてしまいますよね。結婚式にいろいろな要素が溢れてごちゃごちゃし過ぎないようにするには、テーマが重要なのです。
h2 迷ったらテーマに立ち返ればＯＫ
.article-eyecatch
  = image_tag 'pht-111_02.jpg'
  / 549827851
p 結婚式のアイテムを決めていくときには、「これとこれ、どっちがいい？」ということが必ず出てきます。そんなときにもテーマは役に立ちます。迷ったときには、どちらがテーマに沿ったものか？を考えればいいのです。
p 例えば、テーブルクロスの色で迷ったとします。ピンクがかわいいけれど、爽やかなブルーも捨てがたいな〜というとき、もしテーマが「みんなへの感謝」だとしたら、温かみを感じさせるピンクの方がふさわしいというように導き出すことができるわけです。反対に、テーマが「ふたりが大好きな海の世界を表現すること」だとしたら、文句なしにブルーということになりますね。
p 結婚式を成功に導くにはテーマが重要だということ、おわかりいただけましたでしょうか？　次はどうやってテーマを決めればいいのか、その方法を見ていきましょう。
