---
title: 引出物・引菓子のいまどきマナー
page_id: 1011
number: 1
slug: dress
---

p 引出物・引菓子は地方によりしきたりが異なるなど､少し注意をして選ぶ必要があるアイテムです。ふたりだけで勝手に決めてしまわずに､事前に親ともしっかり相談をして､ゲストみんなに喜ばれるものを選びましょう。わからないことがあったら、会場プランナーにも相談を。
h2 品物とお菓子を組み合わせる
.article-eyecatch
  = image_tag 'pht-1011_01.jpg'
  /-596712511
p 結婚式に来ていただいたゲストへ､感謝の気持ちを込めて贈るのが引出物。引出物は品物とお菓子（引菓子）を組み合わせて贈るのが一般的ですが、会費制結婚式が多い北海道では引菓子のみを贈ることが主流です。品数は2〜3品ですが、地方によりまちまち。
p 引出物のしきたりは、地方によって異なります。親の出身地のしきたりを取り入れる場合もありますので､品選びの際には親にも確認をすることをお勧めします。
h2 壊れものは避けるのがマナーだけれど……
.article-eyecatch
  = image_tag 'pht-1011_02.jpg'
  /0079
p 引出物には割れる、壊れる､切れる､重なる､去るなどに通じるものは避けるのがマナーといわれています。ただ、最近ではそうしたマナーを気にする人も少なくなり､ふたりの思いに叶うアイテムとしてグラスやナイフなどを贈ることも増えています。けれども、ゲストの中にしきたりにこだわる人がいる場合には､やはりマナーに沿ったものを贈る方が無難でしょう。
h2 最近は贈り分けが一般的に
.article-eyecatch
  = image_tag 'pht-1011_03.jpg'
  /13877955
p せっかく贈るのですから､ゲストに喜ばれる品物を選びたいもの。けれども、結婚式には幅広い年齢層が訪れるため､誰にでも喜ばれるものを選ぶのはなかなか難しいですし､そうしたものは無難でつまらないものになってしまいがち。p
p そこで最近は､ゲストに合わせて品物を用意することが増えています。例えば、年配の親族には和食器､家族のある人には洋食器､独身ゲストにはワイングラスなど､年代や性別､家族構成に合わせて選ぶと喜ばれるでしょう。あまり細かく分けてしまうと､配るときにミスが出やすくなるので､2〜3パターンくらいがお勧めです。
.article-credit
  ul
    li 地域により、引出物の品数や品物に違いがあります。親や会場プランナーに確認しましょう。
