---
title: 想いが伝わる親ギフトの選び方
page_id: 1023
number: 1
slug: dress
---

p ギフトにどんな気持ちを込めるのかが決まったら、いよいよギフト選び。親ギフトとしてお勧めの品物をご紹介します。
h2 花束にも一工夫を
.article-eyecatch
  = image_tag 'pht-1023_01.jpg'
  /-150973619
p 親ギフトの定番である花束。少しありきたりかなと思うかもしれませんが、花束にも気持ちを込めることはできます。例えば、親の好きな花で花束を作ってもらうのはいかが？　「私の好きな花を選んでくれたのね」と喜んでもらえるはず。また、花と品物を組み合わせても。例えば、「お花を見ながら、ゆったりとティータイムを楽しんで」という気持ちを込めて、花とマグカップを組み合わせて渡すのもしゃれています。
h2 世界で一つのオリジナルの品
.article-eyecatch
  = image_tag 'pht-1023_02.jpg'
  /180842532
p ふたりで協力して記念の品を作るのも面白い試み。一緒に作業しながら、それぞれ親との思い出話をすれば、両家の絆がより一層深まるはず。陶器やガラス器などを一から作るなど本格的なものから、できたものにふたりでメッセージを入れるだけの簡単なものまで、さまざまな商品があります。
h2 家族の絆を感じさせるもの
.article-eyecatch
  = image_tag 'pht-1023_03.jpg'
  /459776299
p いままで育ててもらったことの感謝を伝えるのなら、思い出をつづったアルバムやお気に入りの写真を入れたフォトフレームなどはいかが？　デジタルフォトフレームなら、これから増えていく新しい家族の写真も加えることができますね。また、生まれた時の体重で作った縫いぐるみは、最近は定番になりつつあります。
h2 これからの人生へのエールを込めて
.article-eyecatch
  = image_tag 'pht-1023_04.jpg'
  /73162120
p 「これからは自分の時間を大切に！」という気持ちを込めるのであれば、親の趣味に関するものを贈ってはいかがでしょう。ゴルフが好きならゴルフウエア、旅行が好きなら旅行券など。おいしいものを食べて英気を養ってという気持ちを込めて食事券を贈るのも。ただ、親へのギフト贈呈は演出としての役割もありますので、小さいものの場合は花束を添えたり、司会者から何を贈るのかをゲストに伝えてもらった方が、ゲストにも共感してもらえるでしょう。
