---
title: 親へのギフト、いつ、どう贈る？
number: 1
slug: dress
---

/601840297
p 結婚式では親は新郎新婦と同様、ゲストをお招きする立場にあります。その立場は変わりませんが、最近では披露宴で新郎新婦から親へ感謝の気持ちを表す演出を取り入れることが多くなっています。その中で定番といえるのが、親へのギフト贈呈です。
h2 披露宴の締めくくりに贈るのが一般的
/169377012
p 親へのギフト贈呈は昔から行われてきた定番演出。披露宴の締めくくりに、花嫁が親への感謝の手紙を読んだ後、ふたりで親へギフトを渡すというのが一般的な流れです。渡す方法としては、自分の親へ感謝の気持ちを込めて渡す「ストレート」と、相手の親へ「これからよろしくお願いします」という気持ちを込めて渡す「クロス」の2通りがありますが、最近では自分の親に渡すのがほとんどです。
h2 花束が定番だけれど、品物でもOK
/601840297
p 渡す品物としては花束が一般的。ですが、遠方から来る親の場合、結婚式の日は1泊するケースも多く、生の花束は扱いに困ってしまうことも。そんなときには、プリザーブドフラワーやアーティフィシャルフラワーのアレンジの他、品物を渡しても。また、親の希望や好みに合わせて、花束以外の品物を用意する人もいます。なお、品物は両家で揃えても、揃えなくてもOKです。大切なのは、親が喜んでくれるものを選ぶということ。
h2 こっそり渡すという方法も……
/509447912
p 親へのギフト贈呈が一般的といっても、「人前で行うのは恥ずかしい」と固辞する親もいるかもしれません。そんな場合は、披露宴の前後でギフトを渡してもいいのです。結婚式は、子どもが親から巣立っていく場であるとともに、親には子どもの巣立ちを見送る記念の日となります。親にとって感慨深いものとなるよう、ぜひギフと共にふたりの思いを伝えましょう。
