---
title: 親ギフトにどんな想いを込める？
page_id: 1022
number: 1
slug: dress
---

p 定番演出だから、花束でいいかな……、というのではちょっと寂しいですよね。せっかくの機会ですから、気持ちを込めてギフトを選びたいもの。親ギフトにどんな気持ちを込めればいいのか、考えてみましょう。
h2 いままでどうもありがとう
.article-eyecatch
  = image_tag 'pht-1022_01.jpg'
  /172132901
p いままで育ててくれた感謝の気持ちを込める、というのが一番自然でしょう。親への感謝の気持ちは、実は照れくさくてなかなか表現できなかったりしますよね。結婚式は素直な気持ちを伝えるまたとない機会。ストレートに「いままでどうもありがとう！」という気持ちを伝え､ギフトを渡しましょう。
h2 これからもどうぞよろしく
.article-eyecatch
  = image_tag 'pht-1022_02.jpg'
  /-562613447
p 結婚式は親からの巣立ちではありますが、これで親子の関係が終わりというわけではありません。むしろ新しい家族が増え、新たな関係を育んでいくことになります。夫婦の先輩としていろいろ相談することもあるでしょうし。子どもが産まれれば親に協力してもらうことも増えるはず。「これからもどうぞよろしくお願いします」という気持ちを込めてギフトを贈られるのは､親にとっても嬉しいはずですよ。
h2 これからは自分の時間を楽しんで！
.article-eyecatch
  = image_tag 'pht-1022_03.jpg'
  /172712554
p 子どもが結婚することで、やっと肩の荷が下りたという気持ちになる親も多いはず。「これからは自分のことを最優先して､第二の人生を楽しんでね」という気持ちは、親にとってはちょっぴり寂しいものなのかもしれません。ですが、親のことを気遣える人間に育ってくれたと、きっと頼もしく嬉しくも思うはずです。ギフトにこんな気持ちを込めるのも素敵です。
