---
title: 呼びたい人をリストアップすることから始めよう
page_id: 211
number: 1
slug: guest
---

p ゲスト選びの第一歩は、誰を呼びたいのかリストアップすることです。なぜその人を呼ぶのか､ふたりで話し合い､よく考えることも大切な作業。親とも相談して、漏れのないようにしましょう。
h2 結婚式のスタイルにも関わってくるゲストの顔ぶれ
.article-eyecatch
  = image_tag 'pht-211_01.jpg'
  / 171627900
p 結婚式の会場を決める際に､どんな結婚式にしたいかはふたりで相談したことと思います。ですから、基本的にはそのスタイルに沿った人選をすることになります。お世話になった方々へ感謝を伝える結婚式ならふたりが感謝を伝えたい人をメインに､和気あいあいとした結婚式なら親族や友人など親しい人を中心に､楽しくカジュアルな雰囲気の結婚式なら友人や同僚が主体の顔ぶれとなるでしょう。
p 結婚式のスタイルを再確認した上で､具体的に誰を呼ぶか､リストアップをしていきます。ここでは会場の収容人数などは考えずに､とにかく呼びたい人を書き出していきます。
h2 会場の収容人数と調整を
.article-eyecatch
  = image_tag 'pht-211_02.jpg'
  /82723785
p 呼びたい人が会場の収容人数よりも多かった場合は､調整が必要となります。絶対に来てほしい人か､二次会に招待することで対応できるか､などを判断します。また、少しのオーバーであれば､1卓に座る人数を増やすなどで対応できないかなど、会場に確認するのも一つの方法です。
h2 漏れがないか最後に親にも確認してもらって
.article-eyecatch
  = image_tag 'pht-211_03.jpg'
  /169377092
p 結婚式は親にとっても一大イベント。呼びたい人もふたりとは異なるかもしれないので､特に、親族関係はしっかり確認をしてもらいます。親のゲストに対する意向がふたりの思いとあまりにも懸け離れているようなら､話し合いが必要でしょう。ふたりがどんなテーマで結婚式を挙げようと思っているのかを丁寧に説明し､ゲストの調整をしてください。
