---
title: 招待状を送る前に伝えておきたい大切なこと
page_id: 213
number: 1
slug: guest
---

p ゲストが決まってひと安心。後は招待状を送るだけ！と思っていたら大間違い。招待状を送る前に､ぜひやっておきたいことをまとめてみました。忘れてしまうと､失礼になることもあるので気を付けて。
h2 招待することを事前に伝えておこう
.article-eyecatch
  = image_tag 'pht-213_01.jpg'
  /11989720
p ゲストが決まったら､口頭や電話などで結婚することと、結婚式に招待したいことを伝えておきましょう。このときはまだすぐに返事は求めずに、来てくれそうかどうかの感触をつかんでおきます。
h2 お願い事も事前に伝えて
.article-eyecatch
  = image_tag 'pht-213_02.jpg'
  /183964022
p 主賓や乾杯の発声をお願いする人､スピーチや余興､受付などをお願いしたい人も決め､招待を伝えるときに､一緒にお願いをするのがマナーです。その上で､招待状にあらためてお願いのメッセージを添付しましょう。
h2 遠方ゲストの交通費・宿泊費の負担はどうする？
.article-eyecatch
  = image_tag 'pht-213_03.jpg'
  /11989538
p 遠方ゲストの交通費や宿泊費は､新郎新婦側がすべて負担するのが理想的ですが､無理な場合は半額程度の負担でも。大切なのは､事前に相手に交通費と宿泊費についてどう対応するのかを伝えること。負担がなくても出席するのか､負担がないと出席が難しいのかといった判断は､ゲストに任せましょう。
h2 招待しない人への対応は？
p 残念ながら結婚式に招待できなかった人に対しては､友人や同僚などは二次会に誘うなどの対応をするといいでしょう。親族へは結婚式前後にふたりでごあいさつに伺うのが丁寧です。また、職場関係の人を一切招待しない結婚式であれば､結婚の報告をした際に「結婚式は身内だけで行います」とひと言添えておくといいでしょう。
p 結婚式に呼ぶか呼ばないか、また、招待をする際のふたりの対応で､それまでの人間関係にひびが入ってしまうことがなきにしもあらず。ふたりで心を尽くして選び､招待することが大切です。マナーを守って、気持ち良く来てもらえるようにしましょう。
.article-credit
  ul
    li 北海道、青森、山形の一部エリアでは、会費制ウエディングが一般的です。お礼・お返し・お車代の相場金額が異なるものもありますので、親や会場担当者に相談、確認をしましょう。

