---
title: ゲスト選び　迷ったときはこう考えて正解！
page_id: 212
number: 1
slug: dress
---

p 結婚式に誰を呼ぶかは今後のお付き合いにも影響してきますので、できるだけ慎重に。迷ったときにどう考えればいいのか､考え方のポイントをまとめてみましたので､どうぞご参考に。
h2 職場のゲスト選びに迷ったら職場の先輩に聞こう
.article-eyecatch
  = image_tag 'pht-212_01.jpg'
  /555174661
p 職場の人たちに関しては､どこまで呼ぶか線引きが難しいのが一番の問題。迷った場合は､すでに結婚している先輩はどうしたのか､話を聞いて参考にしてみて。同じ部署内で呼ぶ人､呼ばない人が出てしまう場合は､「上司と先輩のみを招待し、同僚は二次会へ」など､招待の基準をはっきりさせることが大切です。
p また、結婚式の近くで上司あるいは自分自身が異動した場合などは､誰を呼ぶべきか迷うところですが､そんなときには以前の上司と新しい上司､ふたりを招待しても構いません。
h2 友人ゲストは同グループ内で差をつけない
.article-eyecatch
  = image_tag 'pht-212_02.jpg'
  /103922776
p 友人ゲストは同グループ内で呼ぶ人と呼ばない人が出ないように気を付けて。また、以前結婚式に招待された人は､最近は疎遠になってしまっていても､招待するのがマナーです。「呼ばれても迷惑かも？」と心配になるかもしれませんが､出欠の判断は自分ではなく､相手がすることです。「ご無沙汰していますが､お元気ですか？　実は今度結婚することになりました。良かったら結婚式に出席していただけませんか？」などと、打診するといいでしょう。
p なお、異性の友人を招待したい場合は、相手や相手の親に了解を得るのがポイント。どんな間柄で､なぜ呼びたいのかをきちんと説明すると､理解が得られやすいはず。
h2 親族ゲスト選びは親と相談を
.article-eyecatch
  = image_tag 'pht-212_03.jpg'
  /82653390
p 小さいころから見守ってくれた親族。自分の兄弟姉妹とその配偶者､祖父母､血縁のあるおじおばは全員呼ぶのが基本です。おじおばの配偶者を呼ぶかどうかは､親に判断を仰いで。人数調整の関係で呼べない親族は結婚式の前後でふたり揃ってあいさつに伺うなど､丁寧に対応しましょう。
p なお、新郎新婦でゲスト数を無理やり合わせる必要はありません。両家で納得していれば､人数が異なっても大丈夫。むしろ人数合わせで呼ぶようなことになっては、そのゲストに大変失礼になってしまいます。
