---
title: ウエディングドレスのデザインや生地について知ろう
page_id: 311
number: 1
slug: dress
---

p ウエディングドレスを選ぶ際にまず知っておきたいのは、ドレスのデザインです。何も知らずにドレスショップを訪れると、スタッフが話すことがチンプンカンプン？なんてことも。基本的な情報を頭に入れてから、自分に似合うドレス探しを始めましょう。
h2 一般的なドレスのデザインは以下の5つ
ドレスのデザインは以下の5つが一般的。大まかなデザインの傾向を頭に入れておきましょう。
h3 Aライン
.article-eyecatch
  = image_tag 'pht-311_01.jpg'
  / 2656
p アルファベットのAの文字のようなシルエット。裾がなだらかに広がるのが特徴です。最も人気の高いシルエット。
h3 ベルライン
.article-eyecatch
  = image_tag 'pht-311_02.jpg'
  / 1946
p ウエストの切り替えから、スカートが大きく膨らんだデザイン。童話に出てくるお姫さまが着ているようなドレスです。下にパニエをはいてボリュームを出します
h3 スレンダー
.article-eyecatch
  = image_tag 'pht-311_03.jpg'
  / 0554
p 全体のシルエットが細く、ストレートなデザイン。身体にぴったりしたものから身体のラインが目立たないものまでさまざま
h3 マーメイド
.article-eyecatch
  = image_tag 'pht-311_04.jpg'
  /2746
p 上半身から膝までは体にフィットし、裾から下はふんわりと広がるデザイン。シルエットが人魚のよう。身体の曲線に沿ったラインで､女性らしい雰囲気に。
h3 エンパイア
.article-eyecatch
  = image_tag 'pht-311_05.jpg'
  /0927
p 胸のすぐ下に切り替えがあり、切り替えからスカートが広がるシルエットで、どちらかというと直線的。おなか周りをカバーしてくれるので､妊婦さんにもお勧め
h2 生地によってドレスの雰囲気も変わります
p ドレスは使用する生地によって、見た目や雰囲気、着心地が変わってきます。なお、ドレスに使用される素材はシルクやシルクの混紡、レーヨンなどの化繊が一般的です。以下に、一般的なドレス生地についてご紹介します。
h3 サテン
p 厚みと強い光沢が特徴。張りのあるドレスに使われることが多いようです。
h3 タフタ
p 横畝のある生地で張りがあります。つやはやや抑え気味になります。
h3 シャンタン
p 太さの違う糸で織り上げることにより、独特のムラ感を出した生地。
h3 シフォン
p 非常に薄く、透け感がある平織りの生地。光沢は抑え気味です。
h3 ジョーゼット
p ちりめんじわのある薄い生地。透け感があります。
h3 チュール
p 亀甲形の編み目が特徴のネット生地。
h3 オーガンジー
p 透け感のある薄い生地で、適度な張りがあります。

