---
title: どんなものを何着､着たらいいの？
page_id: 321
number: 1
slug: dress
---
p 結婚式の楽しみの一つがお色直し。着用する花嫁はもちろん、ゲストも美しい花嫁姿を楽しみにしているものです。結婚式という限られた時間の中で、どのようにお色直しをすればいいのか、まずはお色直しの基礎知識からご紹介します。
h2 お色直しの着数と組み合わせ
.article-eyecatch
  = image_tag 'pht-321_01.jpg'
  /２１３７
p 結婚式で着用する衣裳の着数は2〜3着が多いようです。着るタイミングとしては、2着の場合は挙式から披露宴前半にかけて1着、披露宴後半でもう1着というのが一般的。3着の場合は挙式で1着、披露宴で2着ということになります。
p 衣裳の組み合わせは、挙式のスタイルとも大きく関わってきます。挙式が教会式の場合はウエディングドレスとカラードレス、またはウエディングドレスと色打ち掛けという組み合わせ、挙式が神前式の場合は白無垢とウエディングドレス、白無垢とカラードレスという組み合わせが多いようです。
p なお、最近ではウエディングドレス1着で通したり、ウエディングドレスを2着着るケースも。これは気に入ったウエディングドレスをずっと着たいという花嫁さんや、お気に入りのウエディングドレスが2着あり、どちらも着たい！という花嫁さんが増えてきたからといわれています。
h2 似合う色を見つけるのが大切
.article-eyecatch
  = image_tag 'pht-321_02.jpg'
  /４１３９
p ウエディングドレスと白無垢、ウエディングドレスを2着着るというケースを除いては、2着目は色の付いた衣裳を着ることになります。ですから、お色直しではどんな色の衣裳を着るか、ということが大変重要になってきます。
p 衣裳の色については、やはり自分の肌や髪が映える色を選ぶのが、基本になってくるでしょう。その上で、結婚式のテーマなども考慮に入れるといいかもしれません。
p また、似合う色をベースに、自分が装いたいイメージに合った色を選ぶのも一つの方法です。明るく華やかにしたければ暖色系に、落ち着いた雰囲気にしたければ寒色系がお勧め。自分をよく知る人や衣裳スタッフなどに、似合う色を客観的にアドバイスしてもらいながら選ぶといいでしょう。
