---
title: サイズと体形別、格好いい新郎衣裳の選び方
page_id: 333
number: 1
slug: dress
---
p 男性は気恥ずかしさからか「衣裳なんて何でもいいよ」となってしまいがちですが、せっかく自分たちが主役になれる結婚式なのですから、ぜひ格好良さにこだわって選んでみてください。
h2 サイズ選びが格好良さを左右する
.article-eyecatch
  = image_tag 'pht-333_01.jpg'
  /３８４６
p 新郎の衣裳はレンタルするという人が多いと思いますが、基本的にはジャストサイズのものを選ぶようにします。重要なのは肩のライン。肩が落ちていたり、しわが寄ったりするものはNG。肩のラインがぴったり合ったものを探しましょう。
p また、袖丈も重要です。カフスが少しのぞくぐらいがベスト。長過ぎるといかにも借りてきた衣裳という感じになってしまうので気を付けて。ズボン丈も短過ぎず、長過ぎず、ベストな丈をチョイスしてください。こうしたポイントを妥協し、適当なサイズのものを選ぶと､格好良さが半減！　衣裳ショップでは袖丈やズボン丈などはお直しをしてくれますので、妥協せずに自分が格好良く見えるサイズにぜひこだわりましょう。
h2 体型別、格好良く見える洋装衣裳の選び方
.article-eyecatch
  = image_tag 'pht-333_02.jpg'
  /０６３９
p 背の低い人はジャケット丈のバランスに気を付けましょう。あまり長過ぎるとスーツに着られている印象になってしまいます。お勧めはコンパクトなタキシード。なお、丈が長めのジャケットを着たい場合は、ロングタキシードやショートフロックに。衣裳によって長さがまちまちなので、実際に試着して自分が最もすっきりと見える丈のものを選んでください。
p 背の高い人はフロックコートやロングタキシードが似合います。上半身よりも下半身にポイントを置くと、すっきりと見えます。なお、痩せ過ぎが気になる人は、あまり体にぴったりし過ぎたものは細さを強調してしまうので､ほんの少しゆとりのあるものの方がお勧めです。
p 体形ががっちりしている人はむちむちし過ぎないよう、少し余裕のあるサイズのものを選んで。丈の長いジャケットの方が張っている太ももを隠して､がっちり体形をカバーしてくれます。パンツはストライプや濃いめの色を選ぶと、締まってすっきりと見えるでしょう。
p 衣裳は実際に着てみないと分からない部分もあります。面倒くさがらずにたくさん試着をして､自分が一番格好良く見える衣裳を見つけてください！
