---
title: 新郎衣裳はどうやって選ぶ？
page_id: 331
number: 1
slug: dress
---

p 新郎の衣裳は花嫁衣裳とのバランスで選ぶことが大切。ここでは新郎衣裳の基礎知識をご紹介。どんな衣裳をどのように着るのかを学びましょう！
h2 花嫁の衣裳に合わせるのが基本
.article-eyecatch
  = image_tag 'pht-331_01.jpg'
  /０６８５
p 花婿の衣裳は花嫁に合わせるのが基本。花嫁がドレスなら花婿も洋装で、花嫁が和装なら花婿も和装で合わせるのが一般的です。 例えば、花嫁がウエディングドレス→カラードレスなら、花婿もタキシードなど洋装で。花嫁が白無垢→カラードレスなら、花婿も紋付き袴→洋装となります。
p 着数は花嫁よりはやや少なく1〜2着が一般的。これは、花嫁がウエディングドレス→カラードレスとお色直しをする際でも、花婿は1着で通すことが多いからです。その場合は、ネクタイやシャツ、チーフなどの色を変えるなどしてイメージチェンジをするとよいでしょう。
h2 花嫁衣裳のイメージと合わせてバランスを取る
.article-eyecatch
  = image_tag 'pht-331_02.jpg'
  /３３２２
p 花嫁の衣裳選びで大切なのはいかに自分に似合うものを選ぶかということ。同様に､花婿も自分に似合う衣裳を選ぶことはとても大切なこと。でも、もう一つ重要なことがあります。それは花嫁とのバランスです。
p 花嫁が愛らしくキュートなイメージの装いなのに、花婿がやけにスタイリッシュな雰囲気というのはちょっとアンバランス。花嫁の雰囲気に合わせて温かみのある雰囲気の衣裳にしたいものです。花嫁がクールなイメージで決めているとしたら、花婿もまたクールな雰囲気で合わせるのがお勧め。
p なお、花婿も花嫁と合わせて衣裳チェンジするのであれば、色使いにもご注意を。花嫁のカラードレスや和装の色と調和する色の衣裳を選びましょう。ですから、新郎の衣裳選びは花嫁の衣裳選びと同時か、それより後にするのがお勧め。間違っても自分勝手に好きな衣裳を選び、花嫁とのバランスがちぐはぐ、ということがないように気を付けたいものです。
