---
title: ぴったりのヘアメイクを導く秘訣
page_id: 411
number: 1
slug: dress
---

p 衣裳が決まったら、次はいよいよヘアメイクです。美しい花嫁になるためには､ヘアメイクは大切なポイント。自分に似合うヘアメイクを導き出すために、まずはヘアメイクの基礎知識を学んでおきましょう！
h2 ヘアチェンジは何回くらい行うの？
.article-eyecatch
  = image_tag 'pht-411_01.jpg'
  /8S9A9658
p ヘアスタイルは衣裳に合わせてチェンジするのが一般的。なお、ウエディングドレス１着で通す場合は、途中でヘアをチェンジして、雰囲気を変えるといいでしょう。また、ウエディングドレスにベールを合わせて挙式をし、そのまま同じ衣裳で披露宴に臨む場合でも、ベールを取ってヘッドドレスに着け替えるのが一般的です。
p メイクについては一度しっかり行った後は、衣装に合わせて口紅やチークなどの色を少し変える程度で、一からやり直したりはしません。ただし、和装から洋装、洋装から和装にチェンジするときには、メイクも変えます。
p ヘアチェンジを行う際に注意したいのは所要時間。スタイルチェンジに時間がかかるようだと、ゲストをお待たせしてしまうことになります。ヘアチェンジにかける時間は10〜20分程度が望ましいでしょう。
h2 いつ、誰に相談するの？
.article-eyecatch
  = image_tag 'pht-411_02.jpg'
  /8S9A9300
p 会場のヘアメイクさんとどんなヘアメイクにするか実際に相談するのは、結婚式の2〜１カ月くらい前です。そのときになって慌てないように、衣裳が決まったら、どのようなヘアメイクにしたいか、自分でイメージを膨らませておきます。雑誌やネットなどを見て、「いいな」と思うヘアメイクがあったら、スクラップしておくといいでしょう。
h2 ヘアメイクリハーサルはやった方がいい？
.article-eyecatch
  = image_tag 'pht-411_03.jpg'
  /8S9A0015
p 一般的なヘアメイクの相談は、ヘアカタログなどを基にヘアメイクさんと口頭で打ち合わせをするのみとなります。ただし、それだとイメージが湧きにくいし、当日、どんなヘアメイクになるか不安という人もいるでしょう。
p そんな花嫁さんにお勧めなのがヘアメイクのリハーサル。ヘッドドレスも使用して、実際にヘアメイクをしながら相談ができますので、ヘアメイクさんともイメージを共有することができ、安心です。リハーサル担当者と当日の担当者が異なる場合もあるので、写真などを撮っておくといいでしょう。また、前撮りも兼ねて実施する方法もあります。
