---
title: ブーケの個数やデザインを知ろう
page_id: 421
number: 1
slug: goods
---

p ドレスに欠かせないのがブーケ。ドレス姿を華やかに､より美しく見せてくれる名脇役です。自分にふさわしいブーケを選ぶために､最初に知っておきたいことをチェック。
h2 ブーケはいくつ用意すればいいの？
.article-eyecatch
  = image_tag 'pht-421_01.jpg'
  /2way3（ロゴ入っている部分トリミング願います）
p ドレスにはブーケを合わせるのが基本です。ドレスの雰囲気や色に合わせて選ぶものですから､ドレスごとに用意するのがお勧めです。一方､和装にはブーケは必要ありませんが､最近では洋髪アレンジで和装を着こなす花嫁さんも増えていて、その場合にはブーケを合わせると素敵です。
h2 ブーケにはどんな形があるの？
.article-eyecatch
  = image_tag 'pht-421_02.jpg'
  /budget2（ロゴ部分トリミングください）
p ブーケにはいくつかのデザインがあります。以下にご紹介しましょう。
h3 ラウンドブーケ
p 正面から見ると丸い形のブーケ。コンパクトで､愛らしい雰囲気があり、最も人気があるデザインです。
h3 オーバルブーケ
p やや縦長で下が少し細くなった楕円（だえん）形のブーケ。ある程度のボリュームがあり､クラシカルなイメージになります。
h3 キャスケードブーケ
p 滝が流れるようなラインが特徴。華やかでゴージャスなイメージです。
h3 クレッセントブーケ
p 三日月のように弧を描いたシルエット。優雅な雰囲気があります。
h3 クラッチブーケ
p 花を無造作に束ねたデザインで、ナチュラルな雰囲気です。
h3 アームブーケ
p カラーやチューリップなど茎がすっきりと長い花をそのまま束ねたブーケ。スタイリッシュなイメージです。
h3 ボールブーケ
p 球体のブーケでキュートなイメージ。リボンなどで持ち手を作り､腕にぶら下げるようにします。
h3 リースブーケ
p リースのような形をしたブーケ。輪に腕を通すか､持ち手を付けてもいいでしょう。
h3 バッグブーケ
p バッグの形にしたブーケ。持ち手はリボンやパールなどで作ります。
h3 メリアブーケ
p 花びらを一枚ずつ重ねて､一輪の大きな花に仕立てたブーケ。華やかな雰囲気があります。

