---
title: 婚礼料理＆飲物の種類を知ろう
number: 1
slug: dress
---
/585824367
p おもてなしの要である料理。おいしい料理を楽しみにくるゲストも多いから､気は抜けません。結婚式ではどんな料理でおもてなしをするのか、ここでは婚礼料理の基礎を学びましょう。
h2 婚礼料理はフレンチ､和食､折衷料理が一般的
/11446782
p 結婚式では着席のコース料理でおもてなしをするのが一般的。ここでは婚礼料理で提供される料理の種類についてご紹介しましょう。
h3 フランス料理
p 前菜から始まり､スープ､魚料理､肉料理、デザートまで提供します。結婚式では最も人気がある料理で､華やかな雰囲気があります。フォアグラやキャビア､伊勢エビなど、高級食材を楽しめるのも魅力です。
h3 日本料理
p 披露宴の進行に合わせ､先付けから始まり､向こう付け（お造り）や八寸､焼き物､炊き合わせ､ご飯､果物などが提供されます。季節の食材やおめでたい食材などが使われ､見た目でも楽しめます。おすしなどを付けることも。
h3 折衷料理
p フランス料理と日本料理の組み合わせが一般的です。バランス良くさまざまな味が楽しめるので､幅広い年齢層が集まる結婚式に向いている料理といえます。
h3 その他
p 中国料理やイタリア料理などが味わえる会場もあります。
h2 飲み物はセットプラン､またはフリープランで選ぶ
/571663301
p 料理同様、飲み物もウエディングらしいセレクトでゲストをおもてなししたいもの。ゲストのさまざまな好みに対応できるよう､ソフトドリンク（ジュースやお茶など）とアルコール（ビール､ワイン､日本酒など）を数種類ずつ用意するのが基本。なお、これらはふたりで一から選んでいく必要はなく､会場でセットプランを用意しています。セットプランにはいくつか種類があり､含まれるドリンクの種類や量が異なりますので､選ぶ際には内容をチェックしてください。
p また、フリードリンクプランもあります。これは、プラン内のドリンクであれば､量は不問で提供してくれるものです。お酒を飲む人が多い場合は､フリードリンクプランを選んだ方がリーズナブルになることも。なお、プランに含まれていない飲物を頼んだ場合は､料金が別途加算されますのでご注意を。
