---
title: 雰囲気と顔ぶれ別　料理と飲み物の選び方
page_id: 512
number: 1
slug: cuisine
---

p 婚礼料理はゲストに喜んでもらえるかどうかを第一に考えたいものです。ここでは、どんな雰囲気の結婚式か､どんな顔ぶれの人が集う結婚式かに合わせて､どのように婚礼料理を選べばいいかをご紹介します。
h2 結婚式の雰囲気別　料理＆飲物の選び方
.article-eyecatch
  = image_tag 'pht-512_01.jpg'
  /522006599
h3 格調高い結婚式
p 格調高い雰囲気にしたければ､フレンチのコース料理がお勧め。高級食材などを取り入れてもらうと､華やかさもアップ！　また、ワインなどの銘柄も会場のソムリエと相談し､料理に合ったものを揃えると喜ばれます。和の結婚式であれば､伝統的な日本料理がふさわしいでしょう。
h3 和気あいあいの結婚式
p あまり堅苦しい雰囲気にしたくないというのであれば､気軽な雰囲気で楽しめる折衷料理がお勧め。ゲストが好みの銘柄の飲物を揃えるなど､話が弾みやすい工夫をしましょう。
h3 カジュアルな結婚式
p 肩肘張らない雰囲気のカジュアルウエディングなら､フランス料理や折衷料理など。前菜やデザートなどをビュッフェスタイルで提供してもいいでしょう。
h2 ゲストの顔ぶれ別　料理の選び方
.article-eyecatch
  = image_tag 'pht-512_02.jpg'
  /18596475
h3 年配のゲストが多い場合
p あっさりとした味付けの日本料理が喜ばれますが､最近のフランス料理はそれほどくどくなく、むしろ「普段はあまり食べられないから」と好評を博す場合も。フランス料理を提供する場合は､会場の料理スタッフと相談したり､自分たちで試食して味を確かめるなどして､年配者にも喜ばれるものかどうかチェックして。
h3 幅広い年齢層のゲストが集まっている場合
p 年齢層が幅広い場合は､バランス良くさまざまな味が楽しめる折衷料理が無難。飲物もバラエティー豊かに揃えて。
h3 若いゲストが多い場合
p フランス料理や折衷料理など､ボリュームがあって､おなかにたまるものが喜ばれます。飲む人が多いのであれば､フリードリンクプランがお勧め。
h3 女性ゲストが多い場合
p 見た目が華やかなフランス料理､ヘルシーなイメージのある日本料理がお勧めです。デザートはさまざまなスイーツを少しずつ楽しめるビュッフェスタイルにすると喜ばれるでしょう。また、飲む人が少ない場合は､コーヒーや紅茶の種類を充実させたり､ノンアルコールのカクテルなどを用意してはいかが？
