---
title: 婚礼料理＆飲み物のチェックポイント
number: 1
slug: dress
---

/18055347
p ここでは婚礼料理や飲物を選ぶときに､どこを見て､どこに気を付けたらいいのかを解説！　また、ふたりらしさを付け加えるアイデアもご紹介します。
h2 料理を選ぶときはここをチェック！
/186873543
h3 全体のバランス
p 一皿一皿の内容はもちろん大切ですが､婚礼料理はコースで味わうものですから､全体を通してのバランスを見ることが大切です。全体のボリュームが多過ぎないか､あるいは少な過ぎないか､品数は適当か､味のバランスが整っているかどうかなどを確認してください。デザートビュッフェにする場合､スイーツの種類やボリュームもチェックして。
p 会場やプランによっては､コースの中の料理を差し替えたり、追加したりすることができる場合も。高級感を出すために高級素材を使用した料理に差し替える､全体のボリュームをアップさせるために1品プラスするなど、状況に合わせてアレンジできるのが魅力です。別途追加料金が発生する場合もありますので､事前に確認しておきましょう。
h3 ゲストへの配慮
p アレルギーなどで特定の食材が食べられない､高齢で固いものが食べられないなど､料理に特別な配慮が必要なゲストがいる場合は､事前に会場にお願いをしておくと、特別料理に対応してもらえます。ナイフとフォークが上手に使えない人がいる場合は､全ゲストに箸を用意するなどの対応をお願いするとスマート。
h2 飲み物を選ぶときはここをチェック！
h3 プランの選択
p ゲストの顔ぶれを見て､飲む人が多い場合はフリードリンクプラン､それほど多くないようならセットプランがお勧め。迷ったときにはプランナーさんに相談してみて。どちらのプランにしてもドリンクの種類をしっかりチェック。
p 必要ならゲストの好みのドリンクを別途手配。また、飲まない人が多いのなら、コーヒーや紅茶、フレッシュジュース､ノンアルコールカクテルなどをバラエティー豊かに揃えると喜ばれます。
p 料理＆飲み物は結婚式の印象を左右する重要なアイテム。どうしたらゲストに喜んでもらえるか､ふたりでじっくり考えて選びたいものですね。
