---
title: 式の雰囲気別　ウエディングケーキの選び方
page_id: 523
number: 1
slug: dress
---

p 見た目もインパクトがあるウエディングケーキは､披露宴の雰囲気づくりにも役立ちます。ですから、結婚式会場や装飾の雰囲気に合わせて、ウエディングケーキを選ぶのもお勧めです。
h2 格調高い雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-523_01.jpg'
  /115212476
p 大きな宴会場なら大きなイミテーションケーキで見栄えを重視。テーブルコーディネートに合わせた生花で華やかに飾り付けても素敵です。また、段重ねのシュガーケーキもノーブルな雰囲気が醸し出せるでしょう。中規模〜小規模の披露宴なら生ケーキでも。フルーツと生クリームのオーソドックスなケーキがふさわしいでしょう。
h2 和気あいあいとした雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-523_02.jpg'
  /92790126
p 少人数ならゲストの好みを反映した味の生ケーキを用意すると喜ばれます。また、ふたりの趣味などを表現したオリジナルケーキもお勧め。ケーキを見ながら、新郎新婦とゲストで話が弾むことでしょう。ラッキードラジェなどの演出をすれば､ゲストとの親睦も図れますよ。
h2 キュート＆スイートな雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-523_03.jpg'
  /117147757
p パステルカラーのシュガーケーキなら愛らしい雰囲気がつくれます。また、カラフルなカップケーキのウエディングケーキもお勧めです。ガーランドなどで飾り付けてもキュート！　また、好きなモチーフがあるのなら､オリジナルのケーキを作ってもらってもいいでしょう。
h2 しっとりとした大人の雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-523_04.jpg'
  /159977874
p シンプルな生クリームケーキやシュガーケーキがお勧め。飾り付けは抑えめに、落ち着いた色合いがいいでしょう。色を多く使い過ぎるとごちゃごちゃとした印象になってしまうので､ケーキの表面の色と飾り付けの色みを合わせてモノトーンでまとめると、スタイリッシュに仕上がります。シンプルなチョコレートケーキも大人っぽい雰囲気になります。
p ウエディングケーキは結婚式を象徴するアイテムの一つですから､テーマに合わせて、雰囲気を盛り上げてくれるようなものを選びましょう。
