---
title: ふたりの「好き」を表すウエディングケーキの種類
number: 1
slug: dress
---

/14844962
p ふたりの結婚式を象徴するアイテムともいえるのがウエディングケーキです。演出アイテムとしてはもちろん､生ケーキならデザートとしてゲストに振る舞うことも。ふたりの結婚式にぴったりのウエディングケーキを選ぶために､まずは基礎を知っておきましょう。
h2 イミテーションケーキと生ケーキ
/ 92255916
p ウエディングケーキには、食べられないイミテーションケーキと生ケーキの2種類があります。イミテーションケーキはケーキの形をした模型にクリームを塗ってデコレーションしたもの。ですから、食べることはできません。ただ、模型ですので､大きく形作ることができ､大会場などで遠くの席からもよく見えるウエディングケーキが欲しい場合に使われます。また、コース料理のバランスを崩したくない場合なども､あえてイミテーションケーキを選ぶことがあります。
p 一方､生ケーキは食べることができ、見た目のバリエーションも豊かなことから､最近の結婚式では圧倒的に人気があります。新郎新婦が自らケーキをゲストにサービスするなど､演出の幅も広がります。
h2 生ケーキの種類は大きく5つ
/8130771
h3 フルーツ＆生クリームのケーキ
p 最も一般的なのはイチゴと生クリームを組み合わせたケーキ。誰にでも喜ばれる味で､最も人気があります。また、季節のフルーツと生クリームを組み合わせたケーキも親しみやすいでしょう。
h3 チョコレートケーキ
p チョコクリームを塗ったケーキ。基本的にはブラウン系の色で仕上がり､見た目がシックな雰囲気になります。
h3 シュガーケーキ
p スポンジケーキや洋酒漬けのフルーツをたっぷり入れて焼いたケーキに、シュガーコーティングを施したもの。欧米の伝統的なウエディングケーキで、日持ちがするのが特徴です。なお、最近ではすべてを生ケーキで作るのではなく､例えば最下段のみを生ケーキにして､2段目や3段目はイミテーションで作ることもあります。
h3 カップケーキ
p クリームで愛らしく飾ったカップケーキを積み上げて作ったウエディングケーキ。カジュアルな雰囲気で､アメリカから人気に火が付きました。
h3 オリジナルケーキ
p ふたりのなれそめや趣味､好きなもの、結婚式のテーマなどをモチーフにしています。
