---
title: したい演出別　ウエディングケーキの選び方
page_id: 522
number: 1
slug: cuisine
---

p 演出アイテムとしても優秀なウエディングケーキ。やりたい演出によって、どんなウエディングケーキを選べばいいのか決まってきます。
h2 定番演出向けのウエディングケーキ
.article-eyecatch
  = image_tag 'pht-522_01.jpg'
  /454316849
h3 ケーキカット
p 結婚式の定番といえばコレ！　ケーキカット演出は、カップケーキを除いてほとんどすべてのケーキで可能です。イミテーションケーキも､ナイフを入れる部分だけ生ケーキで作られていますのでご安心を。
h3 ファーストバイト
p 新郎新婦がお互いにケーキを食べさせ合う演出。新郎から新婦へは「一生食べるものに困らせません」、新婦から新郎へは「一生おいしいものを作ります」という気持ちを込めるのだとか。新郎へ食べさせる際には大きなスプーンを使って､口いっぱいにケーキを頬張らせるのがお約束です。こちらの演出は生ケーキならどのケーキでもできます。カップケーキの場合は､お互いに好きなケーキを選んで､相手に食べさせてあげるといいでしょう。
h2 ゲスト参加型演出向けのウエディングケーキ
.article-eyecatch
  = image_tag 'pht-522_02.jpg'
  /576798261
h3 ウエディングチャーム
p ブーケプルズのウエディングケーキ版です。ウエディングケーキの下にチャーム付きのリボンを垂らしておき､ゲストの代表に引いてもらいます。当たりを引いたゲストにプレゼントをあげるなどすると盛り上がるでしょう。シュガーケーキなどにお勧めの演出です。
h3 ラッキードラジェ
p ウエディングケーキをゲストにサービスする際に､ケーキの中にドラジェやマスコットなどを入れておき､当たったゲストに何かプレゼントするというもの。お皿の下にシールなどで印を付けるという方法でも。この演出はすべての生ケーキで行うことができます。
p どちらかというと生ケーキの方が､さまざまな演出はしやすいでしょう。ふたりらしさをゲストにアピールできるような演出＆ウエディングケーキを選んでくださいね。
