---
title: テーブルコーデの決め手はカラーです
page_id: 612
number: 1
slug: dress
---

p テーブルコーディネートは色使いが大きなポイントになります。最初に全体をどんな色みで統一するかを決めると､考えがまとまりやすくなるでしょう。ここでは、テーブルコーディネートの色の決め方についてご紹介します。
h2 テーマに合わせて色を決める
.article-eyecatch
  = image_tag 'pht-612_01.jpg'
  /-84486471
p 最初に決めたテーマが色につながりやすいものであれば、それをテーブルコーディネートに取り入れるのがお勧め。例えば、テーマが「海」ならブルーが基調のコーディネートになるでしょうし､テーマが「ナチュラル」なら白やグリーンなどでまとめるのがふさわしいでしょう。
h2 会場に合わせて色を決める
.article-eyecatch
  = image_tag 'pht-612_02.jpg'
  /-88853129
p 会場の色に合わせて決めるのも一つの方法。会場の色とは壁や天井の色のことです。壁が白やベージュなどであれば､どんな色のコーディネートも似合いますが､もう少し個性的な色合いになってくると合わない色もありますので､調和を考えて選んだ方がいいでしょう。また、会場によっては、椅子の色が意外に目立つこともあります。椅子の色ともけんかしない色みを選んでください。
h2 お色直しの衣裳に合わせて色を決める
.article-eyecatch
  = image_tag 'pht-612_03.jpg'
  /116362929
p お色直しのカラードレスや和装の色に合わせて、テーブルコーディネートを考えるというのもありです。メイン卓にふたりで立ったり､テーブルラウンドをしたり､新郎新婦は写真撮影の際にテーブルコーディネートと一緒に写る機会が大変多いので､テーブルコーディネートとお色直しの色合いがちぐはぐだと､せっかくの写真も映えません。ですから、お色直しの衣裳の色に合わせてテーブルコーディネートを決めるというのも一理あることなのです。
p 色の方向性が決まったら、装花の花材やアレンジなどを決めていくといいでしょう。
