---
title: テーブルコーデの基本は装花とクロス
page_id: 611
number: 1
slug: table
---

p 披露宴の印象や雰囲気を大きく左右するのがテーブルコーディネートです。ふたりがゲストに伝えたいことを視覚的に表現するものとなりますので、最初に考えたテーマを踏まえて決めていくのがお勧め。まずは結婚式のテーブルコーディネートの基本を知っておきましょう。
h2 コーディネートの核となるテーブル装花
.article-eyecatch
  = image_tag 'pht-611_01.jpg'
  /122680664_
p テーブルコーディネートを構成する要素には大きく2つあり、その1つが装花です。装花は新郎新婦が座るメイン卓と、ゲストが座るゲスト卓に飾ります。両者で基本のテイストは変わりませんが､メイン卓はゲストに見せるように飾るのに対し､ゲスト卓はテーブルの中央に飾るというように、飾り方に違いがあります。
p 使用するのは基本的には生花になりますが､アーティフィシャルフラワー（造花）などを混ぜることもあります。また、お花だけではなく､葉や実ものなども取り入れ､変化をつけることもあります。さらに、キャンドルやリボン、羽根、テーマに合わせた小物などを組み合わせることも。花器をあえて見せて､印象付けるアレンジもあります。
h2 装花とのバランスで決めたいテーブルクロス
.article-eyecatch
  = image_tag 'pht-611_02.jpg'
  /88853129
p テーブルコーディネートを構成するもう1つの要素がテーブルクロスです。テーブルクロスで重要になるのは色。テーブルクロスは占める面積が大きいので､ゲストの印象を大きく左右することになりますので､じっくり考えて選びましょう。
p テーブルクロスの色は装花とのバランスで選ぶのが基本ですが､ナプキンやペーパーアイテム､プレートなどとの調和も考える必要があります。テーブルクロスとナプキンは同系色でまとめる他、異なる色を使ってアクセントにするコーディネートも。また、ランナーなどを使用して、インパクトを出すのも素敵です。
