---
title: したい雰囲気別　テーブルコーデの選び方
page_id: 613
number: 1
slug: dress
---

p どんな雰囲気の結婚式にするかによっても、テーブルコーディネートは変わってきます。ここでは雰囲気に合わせて､どんなテーブルコーディネートを選べばいいかをご紹介します。
h2 格調高い雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-613_01.jpg'
  /-170648258
p 格調高い雰囲気にするのなら､全体の色調は抑えめに。白を基調にグリーンなどを混ぜて清潔感がありつつも落ち着いた色合いでまとめるのがいいでしょう。装花はバラやユリ、ランなど気品のある花材を使用し､奇をてらわないオーソドックスなアレンジでまとめて。小物などはキャンドル程度にとどめ､シンプルに仕上げた方が､エレガントな雰囲気になります。
h2 和気あいあいとした雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-613_02.jpg'
  /89291683
p 温かみのある暖色系でまとめましょう。黒や赤などはっきりとした色ではなく､彩度を落とした柔らかな印象の色みの方がゲストも居心地良く過ごせるはずです。装花はガーベラやチューリップ、ヒマワリなど親しみやすい花材で､ゲスト同士の顔がよく見えて､話が弾みやすいようにアレンジはこんもりと小さめに作るのがお勧め。キャンドルなどで温かみを添えるのも素敵です。
h2 キュート＆スイートな雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-613_03.jpg'
  /108921790
p パステルカラーがお勧め。濃いめのピンクなどを基調にしても素敵です。装花はピンポンマムのように花自体が丸かったり、花びらの先が丸いものを使うと､愛らしい雰囲気になります。リボンや羽根、ギフトボックスなどの小物を組み合わせても､かわいく仕上がるでしょう。
h2 しっとりとした大人の雰囲気にしたいなら
.article-eyecatch
  = image_tag 'pht-613_04.jpg'
  /89291683
p カラーなど丈の長い花材や枝物などを使ってやや高さのある装花を作ると大人っぽく､スタイリッシュな雰囲気になります。色みは濃いめで。ネイビーやブラウンなどがシックな雰囲気になります。また、ランナーをアクセントに使うと､ドラマチックな雰囲気が醸し出せるでしょう。
p 結婚式の雰囲気づくりに役立つのがテーブルコーディネート。会場スタッフに自分たちの好みをしっかり伝え､いくつかの提案をしてもらうのがお勧めです。

