---
title: ふたりの個性感じる招待状の選び方
number: 1
slug: dress
---

/87165472
p ゲストをふたりの結婚式へ誘う招待状には､ふたりの個性が感じられるものがお勧め。どのように作ったらふたりらしさを出すことができるのか､考えてみましょう。
h2 結婚式のテーマに合わせる
/-150973767
p お勧めは最初に決めた結婚式のテーマに合わせることです。例えば､「春」がテーマならピンク色の紙を使って､花など春を感じさせるモチーフをあしらった招待状に、テーマが「音楽」であれば、楽譜などをモチーフにした招待状にすると、ゲストもふたりの結婚式をイメージしやすいでしょう。
h2 会場のテイストや結婚式の雰囲気に合わせる
/11989707
p 会場のテイストやふたりがイメージする結婚式のテイストを表現する招待状もいいでしょう。カジュアルな会場で友人主体の結婚式ならふたりの好きな色を使ったり、好きなモチーフの形に切り抜いたりした、個性溢れる招待状がお勧めです。格式のある会場でエレガントな結婚式を計画しているのなら､上質な紙に箔（はく）押しを施したエレガントな招待状､また、和の結婚式なら和紙を使うのも素敵です。
h2 ゲストに失礼にならない選び方
/-87165472
p 招待状は差出人によってもどんなものを選べばいいか変わります。ふたりの親の名前で送る場合は､ふたりらしさを前面に出した招待状は避けるべきでしょう。白い紙を使用したオーソドックスな招待状をお勧めします。
p また、オリジナリティー溢れる招待状も素晴らしいものですが､あまりとっぴなものはゲストによっては不快に思う可能性もあるので避けた方が無難。あるいは、ふたりのセンスを分かってくれる友人には個性的な招待状を、仕事の上司や親族などにはオーソドックスな招待状と､送り分けるのも一つの方法です。
