---
title: その他のアイテムにもふたりのセンスを
page_id: 713
number: 1
slug: welcome-item
---

p 招待状以外のペーパーアイテムにも､ふたりらしさを忍ばせて。招待状よりも自由に作れる部分が多いので､ここはふたりのセンスの見せどころとなります。
h2 招待状とテイストを揃える
.article-eyecatch
  = image_tag 'pht-713_01.jpg'
  /-528916701
p 招待状とその他のペーパーアイテムは､テイストを揃えると素敵です。招待状の色やモチーフなどをそのまま他のペーパーアイテムに使用する他、デザインのテイストだけを揃えるというのでもいいでしょう。
h2 席札はテーブルコーディネートの調和を考えて
.article-eyecatch
  = image_tag 'pht-713_02.jpg'
  /515047795
p 席札はテーブルコーディネートとの調和を考えたいものです。テーブルクロスの色と合わせたり､装花に使う花を一輪添えたりするのも素敵です。また、ゲストの文字の書体に凝っても。席札にふたりの自筆メッセージを添えるのは､ゲストにおもてなしの心が伝わる素敵なアイデア。なお、席札の裏などにお礼の言葉や新居の住所などを記し､サンキューカードと兼ねても構いません。
h2 席次表はゲストを打ち解けさせるツールにも
.article-eyecatch
  = image_tag 'pht-713_03.jpg'
  /517239903
p 席次表はゲストが自分の席を知る手掛かりとなる他、どんな人が集まっているのかを知るツールともなります。一般的には肩書を書くことが多いのですが､ここにゲストの趣味や好きなものなどを記しておくと､ゲスト同士で話が広がることも。和やかな雰囲気にしたい、友人主体だからワイワイ楽しくやりたいと考えているのなら､こうした席次表を選ぶのも一つのアイデアです。
h2 プロフィールパンフレットはふたりのセンスの見せどころ
.article-eyecatch
  = image_tag 'pht-713_04.jpg'
  /548555259
p ペーパーアイテムの中で最も遊べるアイテムがプロフィールパンフレットです。ふたりの写真をたくさんあしらったり、新聞やコミックのように仕立てたり､ゲストが楽しく読めるものをふたりのアイデアで作り上げましょう。
p ペーパーアイテムは手作りする人も多いアイテム。会場でどんなアイテムが手配できるのかを見た上で､どうするのかふたりで相談して。
