---
title: 届けたい想い別　その他のアイテムの選び方
number: 1
slug: dress
---

/００３５
p ウエルカムボード以外にも､「ようこそ！」の気持ちを伝えるアイテムはたくさん。最近はより大きな仕掛けで､ゲストを喜ばせたいと考える人が増えています。以下のアイデアをぜひ参考にして。
h2 おもてなしの気持ちを伝えたいなら
/0096
p バルーンやフラワーアーチ、クラフトのウエルカムケーキなどで、受付周りを飾ってみてはいかが？　華やかな装飾で新郎新婦がゲストを歓迎している気持ちを伝えましょう。さりげなくというのであれば、ウエルカムリースも素敵。また、ロゼットやフラワーブレスレットなど､お揃いのウエルカムアイテムを用意して､ゲスト全員に身に着けてもらうのも歓迎の気持ちが表れていて素敵ですね。
h2 結婚式を楽しんでもらいたいなら
/0073
p フォトブースを作って、ゲスト同士で楽しい写真を撮ってもらいましょう。フォトプロップスもたくさん用意して､挙式前の時間を楽しく過ごしてもらえれば､楽しい気持ちのまま結婚式に臨んでもらえます。また、ウエディングツリーを立体化して､本物の木を用意してしまっても。七夕の季節ならササを用意して､短冊にふたりへの祝福のメッセージを書いてつるしてもらうのも楽しいアイデアです。
h2 ふたりをもっと知ってもらいたいなら
/77746389
p 受付周りにふたりの写真を飾ってみんなに見てもらいましょう。さまざまな形の写真立てに飾ったり､アルバムに貼ったり……。ガーランドのようにして飾れば､装飾としても素敵です。一枚一枚じっくりと見てもらえば､挙式前の時間もあっという間に過ぎていきます。
p ふたりにちなんだものを飾るというのもあり。趣味のグッズを飾るのは定番。ふたりの愛車を飾ってお出迎えなんていう人も。お互いに制服の職業であれば､それをそのまま飾ってしまうというのも面白いアイデアです。結婚式のテーマを表現するアイテムをトランクなどにセンス良く詰めて飾るのも素敵ですよ。
p ふたりが一生懸命に考え､用意したウエルカムアイテムを見ると、ゲストは「こんなに自分たちのことをもてなそうとしてくれているんだ」と嬉しく感じるもの。ぜひふたりらしいアイテムで、気持ちを表現してみてくださいね。
