---
title: ウエルカムアイテムでようこそを伝えよう
number: 1
slug: dress
---

/0004
p ゲストを喜んでお招きし､精いっぱいおもてなししたいというふたりの気持ちを表現するのがウエルカムアイテムです。会場などで手配する他、自分たちで手作りする人も。まずは、どんな種類があるのか見てみましょう。
h2 ゲストを退屈させないためのウエルカムアイテム
/532406387
p 挙式や披露宴が始まるまでの待ち時間､受付スペースや待合室などで過ごす際に､ゲストが退屈しないように､そして、ふたりのおもてなしの心を感じてもらうために用意するのがウエルカムアイテムです。
p ふたりのことをゲストに知ってもらうよいツールともなりますので､ふたりの個性がさりげなく感じられるものを工夫しましょう。また、これから始まる結婚式への期待感を高めてもらう役割もありますので､ゲストがワクワクドキドキするアイテムを用意したいものです。ふたりで一緒に考え､用意する時間も､いい思い出になるはず。
h2 みんなが用意するウエルカムボード
/108919532
p ウエルカムアイテムの代表ともいえるのがウエルカムボードです。会場に訪れたゲストが最初に目にするものですから、ふたりの結婚式を象徴するようなウエルカムボードが作れたら素敵ですね。ボードといっても、“板”という概念にとらわれることはありません。平面ではなく、立体的に作っても面白いものができるはず。お花やバルーンなどでアレンジしても素敵でしょう。
h2 その他のウエルカムアイテム
/0004
p ウエルカムドールやウエルカムフラワー、ウエルカムリース､ウエルカムケーキ､ウエルカムフォト、イニシャルアイテムなどがあります。最近人気があるのは、これらのアイテムで受付スペース全体を飾り付けてしまうというもの。結婚式のテーマに合わせたり､ふたりの好きなアイテムを並べたりして、オリジナリティー溢れる雰囲気をつくり上げれば､ゲストはそこからふたりの結婚式の世界へ自然と導かれていきます。
