---
title: 伝えたい気持ち別　ウエルカムボードの選び方
page_id: 722
number: 1
slug: welcome-item
---

p ゲストがワクワクしたり､嬉しい気持ちになったり､ふたりに思いをはせたりすることができれば、そのウエルカムボードは成功です！　伝えたい気持ちに合わせて､ウエルカムボードを選んでみませんか？
h2 おもてなしの気持ちを伝えたいなら
.article-eyecatch
  = image_tag 'pht-722_01.jpg'
  /0030
p 「精いっぱいおもてなしさせていただきます」という気持ちを伝えるのなら､welcomeなど歓迎の気持ちを表した文字をデザインしたウエルカムボードはいかが？　花びらなどで文字をかたどっても華やかな雰囲気に。
p ふたりで手作りしたボードも「私たちのためにここまでしてくれたんだ！」とゲストが感激してくれるはず。ナチュラルな雰囲気の結婚式なら木を使ったウッディーテイストのボードに、カジュアルなウエディングなら黒板にチョークアートを施したボードなど、結婚式のテイストに合わせるといいでしょう。
h2 結婚式を楽しんでもらいたいなら
.article-eyecatch
  = image_tag 'pht-722_02.jpg'
  /０２３３
p ウエルカムボードにゲスト参加要素をプラスするのも人気。　おしゃれな額縁を用意すれば、到着したゲストが写真撮影も楽しめて盛り上がりそう。定番の「ウエディングツリー」は、裸の木のイラストにゲストに指印や花びらを押してもらって完成させるボード。人前式の誓いのアイテムにもなります。
h2 ふたりをもっと知ってもらいたいなら
.article-eyecatch
  = image_tag 'pht-722_03.jpg'
  /0040
p ふたりの好きなものを生かしたウエルカムボードにしても。例えば、お花が好きならフラワーをたっぷりあしらったウエルカムボード､海が好きなら貝殻で文字を作ってボードに貼ったり､ワイン好きならコルクでボードを作ってしまうのも素敵。
p また、似顔絵やふたりの写真などで作るウエルカムボードは根強い人気。もし前撮りをするのなら、前撮り写真をウエルカムボードに仕立ててもいいですね。ふたりはもちろん、ゲストの写真も組み合わせてコラージュしたボードも楽しいものです。

