---
title: 気持ち別　オープニング・エンディング映像のオーダー法
number: 1
slug: dress
---

/168348131
p オープニング映像とエンディング映像では、この演出によってゲストに何を伝えたいのか、ゲストにどんな気持ちになってほしいのかを考えて、依頼することが大切になってきます。伝えたい気持ち別に､どんな映像がお勧めかご紹介！
h2 ようこその気持ちを伝える
/ 464735176
p 「ようこそいらっしゃいました」「ぜひ楽しんでいってください」という気持ちを伝えたいのなら、楽しい雰囲気のオープニング映像がお勧め。ふたりが入場するまでをカウントダウンしたり、パロディー風にしたり、ゲストが思わず笑顔になる内容を考えて。また、少人数ウエディングなら、ゲストの紹介を映像で行い、場をリラックスさせても。
h2 ありがとうの気持ちを伝える
/ 168348131
p 「今日はふたりのためにわざわざ足を運んでくださり、ありがとうございます」という感謝の気持ちを伝えるのは、オープニング映像でも、エンディング映像でもOK。オープニング映像なら明るいトーンで、エンディング映像なら落ち着いたしっとりとしたトーンがお勧め。エンディング映像では、ゲストそれぞれに宛てて感謝のメッセージを入れても。ゲストとの思い出の写真を挿入しても楽しいでしょう。
h2 これからもよろしくねの気持ちを伝える
/ 144880296
p 「いままでどうもありがとう。これからもどうぞよろしくお願いします」の気持ちを伝えるのは、エンディング映像がお勧め。ふたりがゲストに向かってメッセージを語り掛ける映像などは、ストレートに気持ちが伝わるはず。また、当日の挙式での誓いのシーンを流し、これからのふたりを応援したくなるような映像に仕上げても。映像が終わった後、ゲストが思わず拍手したくなるような、ふたりらしさにこだわってみて。
.article-credit
  h3 映像を作る・依頼する前に知っておいてほしいこと
  ul
    li 会場によって手作り映像の持ち込み、及び使用する音源に制限があるため、事前に会場に確認をしましょう。

