---
title: 挙式､披露宴で分けて考える
page_id: 821
number: 1
slug: effect
---

p 結婚式を盛り上げるのが演出です。演出によって結婚式の雰囲気は決まりますので､最初に決めたテーマにふさわしいものを選びたいもの。まずは挙式、披露宴それぞれどんな演出があるのか、見ていきましょう。
h2 挙式の演出は、スタイルによって違う
.article-eyecatch
  = image_tag 'pht-821_01.jpg'
  /102284216
p 教会式､神前式､人前式のどのスタイルで行うかによりますが、儀式中でも自由に演出を入れられるのは人前式となります。教会式や神前式では､儀式内の演出は会場によりある程度決まっているのが一般的。
p どの挙式スタイルでもできる演出としては、オリジナルのリングピローをはじめ、挙式後のフラワーシャワーや全員記念撮影など。神前式では折り鶴シャワーなどにしても雰囲気に合います。教会式や人前式ではリングベアラーやフラワーガール､ベールガールなど子どもにお願いする演出､ブライズメイドやアッシャーなど友人にお願いする演出も楽しいもの。
h2 披露宴の演出は、上手に配分を
.article-eyecatch
  = image_tag 'pht-821_02.jpg'
  /79329661
p 披露宴の所要時間は一般的には2時間30分。ゲストを盛り上げ､楽しませるためにも演出を上手に配していく必要があります。定番演出としては、ウエディングケーキの入刀やファーストバイト､キャンドルサービスなどのイルミネーション演出､テーブルラウンド、映像演出などがあります。
p あれもこれもと欲張ると散漫な印象に。どれを入れたらいいか迷ったら､最初に決めた結婚式のテーマを思い出して。テーマに照らし合わせ､ふさわしい演出に絞っていくのがお勧めです。
