---
title: 後悔しない！　当日写真・ビデオのオーダー方法
page_id: 913
number: 1
slug: photo
---

p 素敵な写真やビデオを残すためには、事前の打ち合わせが大切。何も言わないでお任せしてしまうと、「あのシーン、あのアイテムが撮影されていない！」なんてことにもなりかねません。ここでは、打ち合わせの際に確認しておきたいポイントをご紹介！
h2 絶対に撮ってほしいシーンやアイテムは具体的に
.article-eyecatch
  = image_tag 'pht-913_01.jpg'
  /skd282068sdc
p フォトグラファーはプロですから、一般的に重要と思われるシーンは確実に撮影してくれます。ただ、結婚式でこだわっているところは人それぞれ。これは絶対に撮影してほしいというシーンやアイテムは、事前に具体的に伝えておくことが大切です。
p 例えば、結婚指輪。フォトグラファーはリングピローの上に載せて、格好良くスタイリングして撮影してくれます。もしリング裏の刻印にもこだわってそこを撮影してほしいと思ったら、これは事前に言っておかないとそこまでは気が付かないでしょう。
p なお、打ち合わせの際は、当日のスケジュールや席次表に沿って話を進めていくことをお勧め。プログラムに撮ってほしいシーンや人物、アイテムを書き込んで渡しておくと、撮り漏れを防げます。
h2 写真の雰囲気やテイストも伝えて
.article-eyecatch
  = image_tag 'pht-913_02.jpg'
  /450105521
p 写真の雰囲気やテイストも、希望があるのなら伝えておきましょう。「自然光を取り入れて明るく」なのか、「クラシカルな雰囲気」なのか、あるいは「スタイリッシュ」なのか、こちらも具体的に。理想とする写真のテイストがあれば、それを持参して説明すると、イメージが共有できます。ただ、会場の照明などにより、希望のテイストが難しい場合もありますので、その場合はフォトグラファーとよく相談してください。
h2 フォトグラファーを指定することもできる
.article-eyecatch
  = image_tag 'pht-913_03.jpg'
  /78701276_
p 会場によっては、フォトグラファーを指定することもできます。所属のフォトグラファーの作品集などを見せてもらい、好みの写真を撮影する人がいたら、その人を指名するのも、納得いく写真を残す一つの方法でしょう。
