---
title: 思い出を美しく残す、当日写真とビデオの種類
page_id: 911
number: 1
slug: dress
---

p 一生懸命準備した大切な結婚式。写真やビデオでしっかり記録を残しておきたいものです。ここでは、結婚式の当日の写真とビデオについて、どんな種類があるのか、その役割や魅力についてご紹介します。
h2 ポーズを決めて撮る型物写真
.article-eyecatch
  = image_tag 'pht-911_01.jpg'
  /sb10068551c-001
p 結婚式当日の写真には大きく分けて2種類あります。その一つが型物（かたもの）写真です。これはポーズを付けて撮る写真のこと。写真室のある会場では写真室で撮る他、チャペルや神殿など挙式場、館内の絵になる場所、ガーデンなどが撮影場所となります。
p 撮影対象は新郎新婦がメインですが、親や家族と一緒に撮ったりすることも。また、親族との集合写真も型物写真となります。撮影のタイミングは、挙式が始まる前や挙式と披露宴の合間、お色直し時など。スケジュールにも撮影時間がしっかりと組み込まれています。
h2 結婚式の様子を追うスナップ写真
.article-eyecatch
  = image_tag 'pht-911_02.jpg'
  /544705537
p 当日写真のもう一つがスナップ写真です。挙式と披露宴の他、お支度中の様子や二次会まで撮ることもあります。スナップ写真はゲストも撮ることができますが、やはりプロに撮ってもらった方がシーンの撮り漏れもありませんし、さりげない自然な表情を残すことができます。もちろん仕上がりもきれい。
p また、結婚式のために用意したさまざまなアイテムの物撮り写真も美しく残せ、記録写真としての役割もあります。なお、挙式のスナップ撮影については、セレモニーの進行上、制約があることが多いので、会場提携のフォトグラファーに頼んだ方が無難です。
h2 臨場感溢れるビデオ撮影
.article-eyecatch
  = image_tag 'pht-911_03.jpg'
  /116763530
p ビデオの一番の魅力は音声が付いているということでしょう。結婚式では新郎新婦は緊張していたり、忙しかったり、席を外していたりで、大切なシーンを覚えていないことも多いのです。ビデオで撮影しておけば後で見返して、この時にこんなことがあったんだ、スピーチでこんなことを話していたんだとわかり、大切な記録となります。
