---
title: 残したい形で決める、当日写真・ビデオのプラン
number: 1
slug: dress
---

/ 78484125
p 当日写真やビデオは撮影するシーンや時間、納品形態などでさまざまなプランに分かれます。どんな写真やビデオが欲しいのかを考え、自分たちに合ったプランを選びましょう。
h2 プリントで納品される型物写真
/17897877
p 型物写真は六つ切りや四つ切りなどのサイズで、台紙に貼って仕上げられることが一般的。データは基本的にはもらえません。ですので、親族集合写真などをみんなにプレゼントする際は、必要な枚数を後で焼き増ししてもらう必要があります。料金は1ポーズに付き幾らと設定されるのが一般的。また、最小限の型物写真は婚礼プランに含まれていることも。予算に応じて、何ポーズ撮影するのかを決めるといいでしょう。
h2 スナップ写真の納品形態はさまざま
/78484125
p スナップ写真は、挙式のみ、披露宴のみ、挙式＋披露宴、1日密着（お支度〜披露宴まで）、二次会など、結婚式のどの部分を撮影するかによってプラン分けされているのが一般的です。撮影する部分が増えるほど、フォトグラファーの拘束時間も長くなりますし、撮影カット数も多くなるので、料金は高くなります。
p 納品の形態はデータのみ、アルバム付きなど、幾つかあります。また、撮影カット数も提示されますので、事前に確認を。ちなみに、挙式と結婚式で総カット数はだいたい400〜500カットくらい。アルバムを依頼しておくと、フォトグラファーが選んだ好ショットで結婚式をコンパクトに振り返ることができます。親などにプレゼントしても喜ばれるでしょう。
h2 バラエティー豊かなビデオ撮影
/78484125
p ビデオ撮影もスナップ写真と同様、挙式のみ、披露宴のみ、挙式＋披露宴、二次会などに分かれます。撮影の形態もさまざまで、ずっと回しっぱなしで撮影するもの、シーンを指定してその場面だけ撮影するものなどがあります。さらに、カメラの台数や動画撮影スタッフの数も1台(人）から複数の場合があり、複数の場合はゲストの表情などより多くのシーンを押さえることができます。
p 撮影したデータはそのままではなく、編集して見やすい状態にしたものが納品されます。納品のメディアはDVDやブルーレイディスクなどになります。
