---
title: スタジオ撮影で、美しい前撮りを
page_id: 922
number: 1
slug: dress
---

/２－４
p 美しい写真が残せるのが魅力のスタジオ撮影。スタジオ撮影でよりふたりらしく、記念に残る写真を手に入れるにはどうすればいいのか､さまざまなアイデアをご紹介します。
h2 リラックスした表情が残せるように
/２－１－１
/ ＃＃キャプション　前撮り２－１－１
/ 周りをあまり気にせずにリラックスした表情が残せるのが前撮りの魅力。カメラを意識せずに､自然な雰囲気で振る舞うのが､素敵な写真を残すポイント
/２－１－２
/ ＃＃キャプション　２－１－２
/ はじけるような笑顔の写真は実は狙っていないとなかなか撮影できないもの。前撮り写真なら､じっくりと撮影しくれるので､こんなさりげないシーンも思いのまま
p せっかくの前撮りですから､結婚式当日には撮影できないショットを撮ってもらいましょう。当日は何かと慌ただしく､緊張もしています。前撮りならふたりのリラックスした表情を残すことができます。ですから、フォトグラファーには「笑顔の写真を多めに」「おちゃめなポーズもお願いします」などとリクエストしておくと良いでしょう。また、事前にやってみたいポーズを探しておくのもお勧めです。
h2 なりたいイメージを決めて！
/２－２
/ ＃＃キャプション前撮り２－２
/ お気に入りのフォトプロップスを用意しての撮影なら､お茶目な表情も残せる。自分たちでさまざまな小道具を用意して､記念になる前撮り写真を！
p 自分が表現したい花嫁像を設定し､それに合わせた写真を撮るのも面白いアイデア。例えば、クラシカルな映画女優のように、ヨーロッパのお姫さまのように……など設定し、衣裳や小道具､ヘアメイクなどを用意するといいでしょう。また、最近はフォトプロップスを持っての撮影も人気。自分で好みのプロップスを用意してはいかが？　もちろん、事前にフォトグラファーにもイメージを伝えておけば､背景やライティング、仕上がりの雰囲気などを考えてくれるはずです。
h2 和装にもチャレンジ
/２－３
/ ＃＃キャプション前撮り2-3
/ 和装での前撮りはウエルカムボードに仕立てるなど､使い道もたくさん！　ポーズもおしとやかテイストからおちゃめテイストまで､さまざまに工夫してみて
/ #写真２－４
/ ＃＃キャプション前撮り2-4
/ 和装にもガーランドなど小物を組み合わせて､おしゃれな雰囲気で撮影を！　こんな風に自由な雰囲気で撮影できるのも､前撮りの魅力
p 結婚式では洋装のみという人は､別撮りで和装写真を残すのもお勧めです。会場によっては､館内の神殿での撮影ができる場合も。白無垢､色打ち掛け､大振り袖……、伝統の和装衣裳での写真は親にプレゼントしても喜ばれるはず。
h2 当日とは異なる衣裳をチョイス
/なし
p 前撮りでヘアメイクリハーサルを兼ねる場合は別ですが､衣裳選びの際に泣く泣く諦めた衣裳があるのなら､それで前撮り写真を残すのも楽しいもの。また、華やかなカラードレスや露出の多い大胆なドレス、個性的な和装など､結婚式でみんなの前で着るのはちょっとためらわれるけれど……という衣裳で撮影するのも､結婚の楽しい記念になるはずです。
