---
title: 前撮り撮影で幸せを閉じ込めよう
page_id: 921
number: 1
slug: photo
---

p 結婚式の写真といえば､結婚式当日に撮るものと思っていませんか？　最近では、結婚式より前のタイミングで撮影する前撮りが人気を集めています。ここでは前撮りの種類やその魅力についてご紹介します。
h2 なぜ前撮りをするの？
/１０７９キャプションなし ※画像無し
p 何かと忙しく､緊張続きの結婚式当日。そんな状況での写真撮影は、撮影時間も限られてしまいます。結婚式の前に撮影なら、時間に余裕がありますので､さまざまなポーズが取れる上に､リラックスしていい表情の写真が撮れるのです。また、結婚式と同じ衣裳で撮影するのであればヘアメイクのリハーサルを兼ねることにも。また、和装など結婚式では着ない衣裳で撮影して､ウエルカムボードやプロフィールパンフレットなど結婚式のアイテムに利用するなどの活用方法もあります。
h2 前撮りはどこで撮影するの？
/００４１キャプションなし ※画像無し
p スタジオで撮影するスタジオ撮影と､屋外で撮影するロケーション撮影があります。結婚式を挙げる会場で行うのであれば､スタジオ撮影と屋外（ガーデンなど）での撮影を一度に行うことも可能でしょう。
p スタジオ撮影のメリットは、天候に左右されず､正しいライティングによって撮影することで､美しい写真が出来上がることです。密室の中で他人に見られることがなく、落ち着いて撮影できるのもメリットの一つといえるでしょう。
p 一方､ロケーション撮影の魅力は自然光の中で､ナチュラルな雰囲気の写真が撮れるということ。ガーデンや建物､街中、ビーチ、人気の観光スポットなど背景のバリエーションも豊富で､表情豊かな写真が実現します。ふたりが出会った場所や母校など､思い出のある場所での撮影も素敵ですね。
